@model SlashIo.Models.PageDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PageDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrentPrefix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentPrefix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagesAreUrlProvided)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagesAreUrlProvided)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pagedetailsid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
